img
{
    width: 200px;
    height: 300px;
    border-radius: 15px;
}
span
{
    text-decoration: underline;
}
form > span
{
    color: palevioletred;
    margin-right: 5px;
}

.movies-container, .search-movie, .adding-form
{
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid palevioletred;
    background-color: palegoldenrod;
}
.movies-container
{
    justify-content: space-evenly;
}
.search-movie
{
    border-radius: 20px;
    justify-content: center;
}
.search-movie > button, .adding-form > button, .add-movie-button
{
    background-color: palevioletred;
    color: palegoldenrod;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;

    transition: box-shadow 0.3s ease-in-out;
}
.search-movie > button, .movie-card > button, .adding-form > button, .add-movie-button
{
    padding: 5px;
    border: none;
}
.search-movie > button:hover, .adding-form > button:hover, .add-movie-button:hover
{
    box-shadow: 3px 3px 2px black;
}
.search-movie > input[type="text"]
{
    margin-right: 10px;
}
.search-movie > input[type="text"], .adding-form > input[type="text"], .adding-form > input[type="number"]
{
    border: none;
    border-radius: 5px;
}
.movie-card
{
    max-width: 200px;
    padding: 5px;
    background-color: palevioletred;
    color: palegoldenrod;
    margin-bottom: 10px;

    transition: box-shadow 0.5s ease-in-out;
}
.movie-card:hover
{
    box-shadow: 0px 0px 50px black;
}
.movie-card > p
{
    overflow: hidden;
}
.movie-card > button
{
    width: 100%;

    cursor: pointer;
    color: palevioletred;
    background-color: palegoldenrod;
}
.movie-card, .movies-container, .movie-card > button, .adding-form
{
    border-radius: 20px;
}
.hide-description
{
    display: none;
}
.display-description
{
    position: absolute;
    display: block;
    margin-top: 10px;
    resize: none;
    background-color: palegoldenrod;
    border: 2px ridge palevioletred;
    border-radius: 10px;
}
.adding-form-hidden
{
    display: none;
}
.adding-form
{
    display: flex;
    width: 30vw;
    margin-bottom: 15px;
    flex-direction: column;
}
.adding-form > label
{
    color: palevioletred;
}
.adding-form > img
{
    margin-bottom: 5px;
}
.adding-form > input[type="text"], .adding-form > input[type="number"]
{
    padding: 5px;
    margin-right: 100px;
}
.adding-form > input[type="text"], .adding-form > input[type="file"], .adding-form > input[type="number"]
{
    margin-bottom: 10px;
}
.adding-form > input[type="file"],  .adding-form > button
{
    width: 100%;
}
.adding-form > input[type="text"], .adding-form > input[type="number"]
{
    width: 97%;
}