.text-primary
{
    color: dodgerblue;
}
.todo-list
{
    max-width: 400px;
    margin: 0 auto;
}
.task
{
    display: flex;
    padding: 2px;
}
.task > button
{
    background-color: rgb(248, 60, 60);
    color: white;
    margin-left: auto;
    border: none;
}
.done
{
    text-decoration: line-through;
}
.progressBar
{
    height: 25px;
    width: 100%;

    position: relative;
    border: 1px ridge black;
    margin-top: 5px;
}
.progress
{
    height: 100%;
    width: 0;
    background-color: yellow;
}
.progress, .progressBar, .task > button
{
    border-radius: 5px;
}
.progressBar > span
{
    position: absolute;
    bottom: 5px;
    right: 35%;
}